/*!
 * Flat UI Free v2.2.2 (http://designmodo.github.io/Flat-UI/)
 * Copyright 2013-2014 Designmodo, Inc.
 */

@font-face {
  font-family: 'Flat-UI-Icons';

  src: url('glyphicons/flat-ui-icons-regular.eot');
  src: url('flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'),
  url('flat-ui-icons-regular.woff') format('woff'),
  url('flat-ui-icons-regular.ttf') format('truetype'),
  url('flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
  }
[class^="fui-"],
[class*="fui-"] {
  font-family: 'Flat-UI-Icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.fui-triangle-up:before {
  content: "\e600";
  }
.fui-triangle-down:before {
  content: "\e601";
  }
.fui-triangle-up-small:before {
  content: "\e602";
  }
.fui-triangle-down-small:before {
  content: "\e603";
  }
.fui-triangle-left-large:before {
  content: "\e604";
  }
.fui-triangle-right-large:before {
  content: "\e605";
  }
.fui-arrow-left:before {
  content: "\e606";
  }
.fui-arrow-right:before {
  content: "\e607";
  }
.fui-plus:before {
  content: "\e608";
  }
.fui-cross:before {
  content: "\e609";
  }
.fui-check:before {
  content: "\e60a";
  }
.fui-radio-unchecked:before {
  content: "\e60b";
  }
.fui-radio-checked:before {
  content: "\e60c";
  }
.fui-checkbox-unchecked:before {
  content: "\e60d";
  }
.fui-checkbox-checked:before {
  content: "\e60e";
  }
.fui-info-circle:before {
  content: "\e60f";
  }
.fui-alert-circle:before {
  content: "\e610";
  }
.fui-question-circle:before {
  content: "\e611";
  }
.fui-check-circle:before {
  content: "\e612";
  }
.fui-cross-circle:before {
  content: "\e613";
  }
.fui-plus-circle:before {
  content: "\e614";
  }
.fui-pause:before {
  content: "\e615";
  }
.fui-play:before {
  content: "\e616";
  }
.fui-volume:before {
  content: "\e617";
  }
.fui-mute:before {
  content: "\e618";
  }
.fui-resize:before {
  content: "\e619";
  }
.fui-list:before {
  content: "\e61a";
  }
.fui-list-thumbnailed:before {
  content: "\e61b";
  }
.fui-list-small-thumbnails:before {
  content: "\e61c";
  }
.fui-list-large-thumbnails:before {
  content: "\e61d";
  }
.fui-list-numbered:before {
  content: "\e61e";
  }
.fui-list-columned:before {
  content: "\e61f";
  }
.fui-list-bulleted:before {
  content: "\e620";
  }
.fui-window:before {
  content: "\e621";
  }
.fui-windows:before {
  content: "\e622";
  }
.fui-loop:before {
  content: "\e623";
  }
.fui-cmd:before {
  content: "\e624";
  }
.fui-mic:before {
  content: "\e625";
  }
.fui-heart:before {
  content: "\e626";
  }
.fui-location:before {
  content: "\e627";
  }
.fui-new:before {
  content: "\e628";
  }
.fui-video:before {
  content: "\e629";
  }
.fui-photo:before {
  content: "\e62a";
  }
.fui-time:before {
  content: "\e62b";
  }
.fui-eye:before {
  content: "\e62c";
  }
.fui-chat:before {
  content: "\e62d";
  }
.fui-home:before {
  content: "\e62e";
  }
.fui-upload:before {
  content: "\e62f";
  }
.fui-search:before {
  content: "\e630";
  }
.fui-user:before {
  content: "\e631";
  }
.fui-mail:before {
  content: "\e632";
  }
.fui-lock:before {
  content: "\e633";
  }
.fui-power:before {
  content: "\e634";
  }
.fui-calendar:before {
  content: "\e635";
  }
.fui-gear:before {
  content: "\e636";
  }
.fui-bookmark:before {
  content: "\e637";
  }
.fui-exit:before {
  content: "\e638";
  }
.fui-trash:before {
  content: "\e639";
  }
.fui-folder:before {
  content: "\e63a";
  }
.fui-bubble:before {
  content: "\e63b";
  }
.fui-export:before {
  content: "\e63c";
  }
.fui-calendar-solid:before {
  content: "\e63d";
  }
.fui-star:before {
  content: "\e63e";
  }
.fui-star-2:before {
  content: "\e63f";
  }
.fui-credit-card:before {
  content: "\e640";
  }
.fui-clip:before {
  content: "\e641";
  }
.fui-link:before {
  content: "\e642";
  }
.fui-tag:before {
  content: "\e643";
  }
.fui-document:before {
  content: "\e644";
  }
.fui-image:before {
  content: "\e645";
  }
.fui-facebook:before {
  content: "\e646";
  }
.fui-youtube:before {
  content: "\e647";
  }
.fui-vimeo:before {
  content: "\e648";
  }
.fui-twitter:before {
  content: "\e649";
  }
.fui-spotify:before {
  content: "\e64a";
  }
.fui-skype:before {
  content: "\e64b";
  }
.fui-pinterest:before {
  content: "\e64c";
  }
.fui-path:before {
  content: "\e64d";
  }
.fui-linkedin:before {
  content: "\e64e";
  }
.fui-google-plus:before {
  content: "\e64f";
  }
.fui-dribbble:before {
  content: "\e650";
  }
.fui-behance:before {
  content: "\e651";
  }
.fui-stumbleupon:before {
  content: "\e652";
  }
.fui-yelp:before {
  content: "\e653";
  }
.fui-wordpress:before {
  content: "\e654";
  }
.fui-windows-8:before {
  content: "\e655";
  }
.fui-vine:before {
  content: "\e656";
  }
.fui-tumblr:before {
  content: "\e657";
  }
.fui-paypal:before {
  content: "\e658";
  }
.fui-lastfm:before {
  content: "\e659";
  }
.fui-instagram:before {
  content: "\e65a";
  }
.fui-html5:before {
  content: "\e65b";
  }
.fui-github:before {
  content: "\e65c";
  }
.fui-foursquare:before {
  content: "\e65d";
  }
.fui-dropbox:before {
  content: "\e65e";
  }
.fui-android:before {
  content: "\e65f";
  }
.fui-apple:before {
  content: "\e660";
  }



.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled.hover,
.btn-inverse[disabled].hover,
fieldset[disabled] .btn-inverse.hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #bdc3c7;
  border-color: #34495e;
  }
[class*="btn-social-"] {
  padding: 10px 15px;
  font-size: 13px;
  line-height: 1.077;
  border-radius: 4px;
  }
.btn-social-pinterest {
  color: #fff;
  background-color: #cb2028;
  }
.btn-social-pinterest:hover,
.btn-social-pinterest:focus {
  background-color: #d54d53;
  }
.btn-social-pinterest:active,
.btn-social-pinterest.active {
  background-color: #ad1b22;
  }
.btn-social-linkedin {
  color: #fff;
  background-color: #0072b5;
  }
.btn-social-linkedin:hover,
.btn-social-linkedin:focus {
  background-color: #338ec4;
  }
.btn-social-linkedin:active,
.btn-social-linkedin.active {
  background-color: #00619a;
  }
.btn-social-stumbleupon {
  color: #fff;
  background-color: #ed4a13;
  }
.btn-social-stumbleupon:hover,
.btn-social-stumbleupon:focus {
  background-color: #f16e42;
  }
.btn-social-stumbleupon:active,
.btn-social-stumbleupon.active {
  background-color: #c93f10;
  }
.btn-social-googleplus {
  color: #fff;
  background-color: #2d2d2d;
  }
.btn-social-googleplus:hover,
.btn-social-googleplus:focus {
  background-color: #575757;
  }
.btn-social-googleplus:active,
.btn-social-googleplus.active {
  background-color: #262626;
  }
.btn-social-facebook {
  color: #fff;
  background-color: #2f4b93;
  }
.btn-social-facebook:hover,
.btn-social-facebook:focus {
  background-color: #596fa9;
  }
.btn-social-facebook:active,
.btn-social-facebook.active {
  background-color: #28407d;
  }
.btn-social-twitter {
  color: #fff;
  background-color: #00bdef;
  }
.btn-social-twitter:hover,
.btn-social-twitter:focus {
  background-color: #33caf2;
  }
.btn-social-twitter:active,
.btn-social-twitter.active {
  background-color: #00a1cb;
  }
.btn-group > .btn + .btn {
  margin-left: 0;
  }
.btn-group > .btn + .dropdown-toggle {
  padding: 10px 12px;
  border-left: 2px solid rgba(52, 73, 94, .15);
  }
.btn-group > .btn + .dropdown-toggle .caret {
  margin-right: 3px;
  margin-left: 3px;
  }
.btn-group > .btn.btn-gh + .dropdown-toggle .caret {
  margin-right: 7px;
  margin-left: 7px;
  }
.btn-group > .btn.btn-sm + .dropdown-toggle .caret {
  margin-right: 0;
  margin-left: 0;
  }
.dropdown-toggle .caret {
  margin-left: 8px;
  }
.btn-group-xs > .btn + .dropdown-toggle {
  padding: 6px 9px;
  }
.btn-group-sm > .btn + .dropdown-toggle {
  padding: 9px 13px;
  }
.btn-group-lg > .btn + .dropdown-toggle {
  padding: 10px 19px;
  }
.btn-group-hg > .btn + .dropdown-toggle {
  padding: 13px 20px;
  }
.btn-xs .caret {
  border-width: 6px 4px 0;
  border-bottom-width: 0;
  }
.btn-lg .caret {
  border-width: 8px 6px 0;
  border-bottom-width: 0;
  }
.dropup .btn-lg .caret {
  border-width: 0 6px 8px;
  }
.dropup .btn-xs .caret {
  border-width: 0 4px 6px;
  }
.checkbox,
.radio {
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.5;
  -webkit-transition: color .25s linear;
          transition: color .25s linear;
		  width:auto;
  }
.checkbox .icons,
.radio .icons {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  color: #bdc3c7;
  text-align: center;
  cursor: pointer;
  }
.checkbox .icons .icon-checked,
.radio .icons .icon-checked {
  filter: alpha(opacity=0);
  opacity: 0;
  }
.checkbox .icon-checked,
.radio .icon-checked,
.checkbox .icon-unchecked,
.radio .icon-unchecked {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-table;
  margin: 0;
  background-color: transparent;
          filter: none;
  opacity: 1;
  -webkit-transition: color .25s linear;
          transition: color .25s linear;

  -webkit-filter: none;
  }
.checkbox .icon-checked:before,
.radio .icon-checked:before,
.checkbox .icon-unchecked:before,
.radio .icon-unchecked:before {
  font-family: 'Flat-UI-Icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.checkbox .icon-checked:before {
  content: "\e60e";
  }
.checkbox .icon-unchecked:before {
  content: "\e60d";
  }
.radio .icon-checked:before {
  content: "\e60c";
  }
.radio .icon-unchecked:before {
  content: "\e60b";
  }
.checkbox input[type="checkbox"].custom-checkbox,
.radio input[type="checkbox"].custom-checkbox,
.checkbox input[type="radio"].custom-radio,
.radio input[type="radio"].custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  outline: none !important;
  opacity: 0;
  }
.checkbox input[type="checkbox"].custom-checkbox:hover:not(.nohover):not(:disabled) + .icons .icon-unchecked,
.radio input[type="checkbox"].custom-checkbox:hover:not(.nohover):not(:disabled) + .icons .icon-unchecked,
.checkbox input[type="radio"].custom-radio:hover:not(.nohover):not(:disabled) + .icons .icon-unchecked,
.radio input[type="radio"].custom-radio:hover:not(.nohover):not(:disabled) + .icons .icon-unchecked {
  filter: alpha(opacity=0);
  opacity: 0;
  }
.checkbox input[type="checkbox"].custom-checkbox:hover:not(.nohover):not(:disabled) + .icons .icon-checked,
.radio input[type="checkbox"].custom-checkbox:hover:not(.nohover):not(:disabled) + .icons .icon-checked,
.checkbox input[type="radio"].custom-radio:hover:not(.nohover):not(:disabled) + .icons .icon-checked,
.radio input[type="radio"].custom-radio:hover:not(.nohover):not(:disabled) + .icons .icon-checked {
          filter: none;
  opacity: 1;

  -webkit-filter: none;
  }
.checkbox input[type="checkbox"].custom-checkbox:checked + .icons,
.radio input[type="checkbox"].custom-checkbox:checked + .icons,
.checkbox input[type="radio"].custom-radio:checked + .icons,
.radio input[type="radio"].custom-radio:checked + .icons {
  color: #B7D400;
  }
.checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-unchecked,
.radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-unchecked,
.checkbox input[type="radio"].custom-radio:checked + .icons .icon-unchecked,
.radio input[type="radio"].custom-radio:checked + .icons .icon-unchecked {
  filter: alpha(opacity=0);
  opacity: 0;
  }
.checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
.radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
.checkbox input[type="radio"].custom-radio:checked + .icons .icon-checked,
.radio input[type="radio"].custom-radio:checked + .icons .icon-checked {
  color: #B7D400;
          filter: none;
  opacity: 1;

  -webkit-filter: none;
  }
.checkbox input[type="checkbox"].custom-checkbox:disabled + .icons,
.radio input[type="checkbox"].custom-checkbox:disabled + .icons,
.checkbox input[type="radio"].custom-radio:disabled + .icons,
.radio input[type="radio"].custom-radio:disabled + .icons {
  color: #e6e8ea;
  cursor: default;
  }
.checkbox input[type="checkbox"].custom-checkbox:disabled + .icons .icon-unchecked,
.radio input[type="checkbox"].custom-checkbox:disabled + .icons .icon-unchecked,
.checkbox input[type="radio"].custom-radio:disabled + .icons .icon-unchecked,
.radio input[type="radio"].custom-radio:disabled + .icons .icon-unchecked {
          filter: none;
  opacity: 1;

  -webkit-filter: none;
  }
.checkbox input[type="checkbox"].custom-checkbox:disabled + .icons .icon-checked,
.radio input[type="checkbox"].custom-checkbox:disabled + .icons .icon-checked,
.checkbox input[type="radio"].custom-radio:disabled + .icons .icon-checked,
.radio input[type="radio"].custom-radio:disabled + .icons .icon-checked {
  filter: alpha(opacity=0);
  opacity: 0;
  }
.checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons,
.radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons,
.checkbox input[type="radio"].custom-radio:disabled:checked + .icons,
.radio input[type="radio"].custom-radio:disabled:checked + .icons {
  color: #e6e8ea;
  }
.checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-unchecked,
.radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-unchecked,
.checkbox input[type="radio"].custom-radio:disabled:checked + .icons .icon-unchecked,
.radio input[type="radio"].custom-radio:disabled:checked + .icons .icon-unchecked {
  filter: alpha(opacity=0);
  opacity: 0;
  }
.checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-checked,
.radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-checked,
.checkbox input[type="radio"].custom-radio:disabled:checked + .icons .icon-checked,
.radio input[type="radio"].custom-radio:disabled:checked + .icons .icon-checked {
  color: #e6e8ea;
          filter: none;
  opacity: 1;

  -webkit-filter: none;
  }
.checkbox input[type="checkbox"].custom-checkbox:indeterminate + .icons,
.radio input[type="checkbox"].custom-checkbox:indeterminate + .icons,
.checkbox input[type="radio"].custom-radio:indeterminate + .icons,
.radio input[type="radio"].custom-radio:indeterminate + .icons {
  color: #bdc3c7;
  }
.checkbox input[type="checkbox"].custom-checkbox:indeterminate + .icons .icon-unchecked,
.radio input[type="checkbox"].custom-checkbox:indeterminate + .icons .icon-unchecked,
.checkbox input[type="radio"].custom-radio:indeterminate + .icons .icon-unchecked,
.radio input[type="radio"].custom-radio:indeterminate + .icons .icon-unchecked {
          filter: none;
  opacity: 1;

  -webkit-filter: none;
  }
.checkbox input[type="checkbox"].custom-checkbox:indeterminate + .icons .icon-checked,
.radio input[type="checkbox"].custom-checkbox:indeterminate + .icons .icon-checked,
.checkbox input[type="radio"].custom-radio:indeterminate + .icons .icon-checked,
.radio input[type="radio"].custom-radio:indeterminate + .icons .icon-checked {
  filter: alpha(opacity=0);
  opacity: 0;
  }
.checkbox input[type="checkbox"].custom-checkbox:indeterminate + .icons:before,
.radio input[type="checkbox"].custom-checkbox:indeterminate + .icons:before,
.checkbox input[type="radio"].custom-radio:indeterminate + .icons:before,
.radio input[type="radio"].custom-radio:indeterminate + .icons:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 20px;
  font-size: 22px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  content: "\2013";
  }
.checkbox.primary input[type="checkbox"].custom-checkbox + .icons,
.radio.primary input[type="checkbox"].custom-checkbox + .icons,
.checkbox.primary input[type="radio"].custom-radio + .icons,
.radio.primary input[type="radio"].custom-radio + .icons {
  color: #34495e;
  }
.checkbox.primary input[type="checkbox"].custom-checkbox:checked + .icons,
.radio.primary input[type="checkbox"].custom-checkbox:checked + .icons,
.checkbox.primary input[type="radio"].custom-radio:checked + .icons,
.radio.primary input[type="radio"].custom-radio:checked + .icons {
  color: #B7D400;
  }
.checkbox.primary input[type="checkbox"].custom-checkbox:disabled + .icons,
.radio.primary input[type="checkbox"].custom-checkbox:disabled + .icons,
.checkbox.primary input[type="radio"].custom-radio:disabled + .icons,
.radio.primary input[type="radio"].custom-radio:disabled + .icons {
  color: #bdc3c7;
  cursor: default;
  }
.checkbox.primary input[type="checkbox"].custom-checkbox:disabled + .icons.checked,
.radio.primary input[type="checkbox"].custom-checkbox:disabled + .icons.checked,
.checkbox.primary input[type="radio"].custom-radio:disabled + .icons.checked,
.radio.primary input[type="radio"].custom-radio:disabled + .icons.checked {
  color: #bdc3c7;
  }
.checkbox.primary input[type="checkbox"].custom-checkbox:indeterminate + .icons,
.radio.primary input[type="checkbox"].custom-checkbox:indeterminate + .icons,
.checkbox.primary input[type="radio"].custom-radio:indeterminate + .icons,
.radio.primary input[type="radio"].custom-radio:indeterminate + .icons {
  color: #34495e;
  }
.input-group-addon .radio,
.input-group-addon .checkbox {
  padding-left: 20px;
  margin: -2px 0;
  }
.input-group-addon .radio .icons,
.input-group-addon .checkbox .icons {
  color: #e6e8ea;
  }
.input-group-addon .radio input[type="checkbox"].custom-checkbox:checked + .icons,
.input-group-addon .checkbox input[type="checkbox"].custom-checkbox:checked + .icons,
.input-group-addon .radio input[type="radio"].custom-radio:checked + .icons,
.input-group-addon .checkbox input[type="radio"].custom-radio:checked + .icons {
  color: #fff;
  }
.input-group-addon .radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
.input-group-addon .checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
.input-group-addon .radio input[type="radio"].custom-radio:checked + .icons .icon-checked,
.input-group-addon .checkbox input[type="radio"].custom-radio:checked + .icons .icon-checked {
  color: #fff;
  }
.input-group-addon .radio input[type="checkbox"].custom-checkbox:disabled + .icons,
.input-group-addon .checkbox input[type="checkbox"].custom-checkbox:disabled + .icons,
.input-group-addon .radio input[type="radio"].custom-radio:disabled + .icons,
.input-group-addon .checkbox input[type="radio"].custom-radio:disabled + .icons {
  color: rgba(230, 232, 234, .6);
  }
.input-group-addon .radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons,
.input-group-addon .checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons,
.input-group-addon .radio input[type="radio"].custom-radio:disabled:checked + .icons,
.input-group-addon .checkbox input[type="radio"].custom-radio:disabled:checked + .icons {
  color: rgba(230, 232, 234, .6);
  }
.input-group-addon .radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-checked,
.input-group-addon .checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-checked,
.input-group-addon .radio input[type="radio"].custom-radio:disabled:checked + .icons .icon-checked,
.input-group-addon .checkbox input[type="radio"].custom-radio:disabled:checked + .icons .icon-checked {
  color: rgba(230, 232, 234, .6);
  }
.radio + .radio,
.checkbox + .checkbox {
  margin-top: 10px;
  }
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 32px;
  }
  
  
  .select2-drop {
  z-index: 1000;
  min-width: 220px;
  padding: 0;
  margin-top: 9px;
  font-size: 14px;
  background-color: #f3f4f5;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  }
  
  .select {
  position: relative;
  display: inline-block;
  width: auto;
  min-width: 104px;
  vertical-align: top;
  }
.form-group .select {
  width: 100%;
  }
.form-group .select > .select2-choice {
  width: 100%;
  }
.select.form-control,
.select.select2-search input[type="text"] {
  height: auto;
  padding: 0;
  border: none;
  }
.select2-choice {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 39px 10px 15px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border: none;
  border-radius: 4px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
          transition: border .25s linear, color .25s linear, background-color .25s linear;
  }
.select2-choice:hover,
.select2-choice:focus {
  outline: none;
  }
.select2-choice:active {
  outline: none;
  box-shadow: none;
  }
.select2-container-disabled .select2-choice {
  filter: alpha(opacity=70);
  opacity: .7;
  }
.select2-chosen {
  overflow: hidden;
  text-align: left;
  }
.select2-arrow {
  position: absolute;
  top: 42%;
  right: 16px;
  display: inline-block;
  border-color: #34495e transparent;
  border-style: solid;
  border-width: 8px 6px;
  border-bottom-style: none;
  -webkit-transform: scale(1.001);
      -ms-transform: scale(1.001);
          transform: scale(1.001);
  }
.select2-arrow b {
  display: none;
  }
.btn-lg .select2-arrow {
  border-top-width: 8px;
  border-right-width: 6px;
  border-left-width: 6px;
  }
.select-default .select2-choice {
  color: #fff;
  background-color: #bdc3c7;
  }
.select-default .select2-choice:hover,
.select-default .select2-choice.hover,
.select-default .select2-choice:focus,
.select-default .select2-choice:active {
  color: #fff;
  background-color: #cacfd2;
  border-color: #cacfd2;
  }
.select-default .select2-choice:active {
  background: #a1a6a9;
  border-color: #a1a6a9;
  }
.select2-container-disabled.select-default .select2-choice,
.select2-container-disabled.select-default .select2-choice:hover,
.select2-container-disabled.select-default .select2-choice:focus,
.select2-container-disabled.select-default .select2-choice:active {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  }
.select-default .select2-choice .select2-arrow {
  border-top-color: #fff;
  }
.select-primary .select2-choice {
  color: #fff;
  background-color: #B7D400;
  }
.select-primary .select2-choice:hover,
.select-primary .select2-choice.hover,
.select-primary .select2-choice:focus,
.select-primary .select2-choice:active {
  color: #fff;
  background-color: #9bb301;
  border-color: #9bb301;
  }
.select-primary .select2-choice:active {
  background: #16a085;
  border-color: #16a085;
  }
.select2-container-disabled.select-primary .select2-choice,
.select2-container-disabled.select-primary .select2-choice:hover,
.select2-container-disabled.select-primary .select2-choice:focus,
.select2-container-disabled.select-primary .select2-choice:active {
  background-color: #bdc3c7;
  border-color: #B7D400;
  }
#s2id_autogen1:hover .select2-arrow{
color:#fff;
}

.eventFilter .select2-choice .select2-arrow {border-top-color:#fff !important}
.select-primary .select2-choice .select2-arrow {
  border-top-color: #777;
  }
.select-info .select2-choice {
  color: #fff;
  background-color: #3498db;
  }
.select-info .select2-choice:hover,
.select-info .select2-choice.hover,
.select-info .select2-choice:focus,
.select-info .select2-choice:active {
  color: #fff;
  background-color: #5dade2;
  border-color: #5dade2;
  }
.select-info .select2-choice:active {
  background: #2c81ba;
  border-color: #2c81ba;
  }
.select2-container-disabled.select-info .select2-choice,
.select2-container-disabled.select-info .select2-choice:hover,
.select2-container-disabled.select-info .select2-choice:focus,
.select2-container-disabled.select-info .select2-choice:active {
  background-color: #bdc3c7;
  border-color: #3498db;
  }
.select-info .select2-choice .select2-arrow {
  border-top-color: #fff;
  }
.select-danger .select2-choice {
  color: #fff;
  background-color: #e74c3c;
  }
.select-danger .select2-choice:hover,
.select-danger .select2-choice.hover,
.select-danger .select2-choice:focus,
.select-danger .select2-choice:active {
  color: #fff;
  background-color: #ec7063;
  border-color: #ec7063;
  }
.select-danger .select2-choice:active {
  background: #c44133;
  border-color: #c44133;
  }
.select2-container-disabled.select-danger .select2-choice,
.select2-container-disabled.select-danger .select2-choice:hover,
.select2-container-disabled.select-danger .select2-choice:focus,
.select2-container-disabled.select-danger .select2-choice:active {
  background-color: #bdc3c7;
  border-color: #e74c3c;
  }
.select-danger .select2-choice .select2-arrow {
  border-top-color: #fff;
  }
.select-success .select2-choice {
  color: #fff;
  background-color: #2ecc71;
  }
.select-success .select2-choice:hover,
.select-success .select2-choice.hover,
.select-success .select2-choice:focus,
.select-success .select2-choice:active {
  color: #fff;
  background-color: #58d68d;
  border-color: #58d68d;
  }
.select-success .select2-choice:active {
  background: #27ad60;
  border-color: #27ad60;
  }
.select2-container-disabled.select-success .select2-choice,
.select2-container-disabled.select-success .select2-choice:hover,
.select2-container-disabled.select-success .select2-choice:focus,
.select2-container-disabled.select-success .select2-choice:active {
  background-color: #bdc3c7;
  border-color: #2ecc71;
  }
.select-success .select2-choice .select2-arrow {
  border-top-color: #fff;
  }
.select-warning .select2-choice {
  color: #fff;
  background-color: #f1c40f;
  }
.select-warning .select2-choice:hover,
.select-warning .select2-choice.hover,
.select-warning .select2-choice:focus,
.select-warning .select2-choice:active {
  color: #fff;
  background-color: #f4d313;
  border-color: #f4d313;
  }
.select-warning .select2-choice:active {
  background: #cda70d;
  border-color: #cda70d;
  }
.select2-container-disabled.select-warning .select2-choice,
.select2-container-disabled.select-warning .select2-choice:hover,
.select2-container-disabled.select-warning .select2-choice:focus,
.select2-container-disabled.select-warning .select2-choice:active {
  background-color: #bdc3c7;
  border-color: #f1c40f;
  }
.select-warning .select2-choice .select2-arrow {
  border-top-color: #fff;
  }
.select-inverse .select2-choice {
  color: #fff;
  background-color: #34495e;
  }
.select-inverse .select2-choice:hover,
.select-inverse .select2-choice.hover,
.select-inverse .select2-choice:focus,
.select-inverse .select2-choice:active {
  color: #fff;
  background-color: #415b76;
  border-color: #415b76;
  }
.select-inverse .select2-choice:active {
  background: #2c3e50;
  border-color: #2c3e50;
  }
.select2-container-disabled.select-inverse .select2-choice,
.select2-container-disabled.select-inverse .select2-choice:hover,
.select2-container-disabled.select-inverse .select2-choice:focus,
.select2-container-disabled.select-inverse .select2-choice:active {
  background-color: #bdc3c7;
  border-color: #34495e;
  }
.select-inverse .select2-choice .select2-arrow {
  border-top-color: #fff;
  }
.select2-container.select-hg > .select2-choice {
  min-height: 53px;
  padding: 13px 20px;
  padding-right: 49px;
  font-size: 22px;
  line-height: 1.227;
  border-radius: 6px;
  }
.select2-container.select-hg > .select2-choice .filter-option {
  top: 13px;
  right: 40px;
  left: 20px;
  }
.select2-container.select-hg > .select2-choice .select2-arrow {
  right: 20px;
  }
.select2-container.select-hg > .select2-choice > [class^="fui-"] {
  top: 2px;
  }
.select2-container.select-lg > .select2-choice {
  min-height: 45px;
  padding: 10px 19px;
  padding-right: 47px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
  }
.select2-container.select-lg > .select2-choice .filter-option {
  right: 38px;
  left: 18px;
  }
.select2-container.select-sm > .select2-choice {
  min-height: 36px;
  padding: 9px 13px;
  padding-right: 35px;
  font-size: 13px;
  line-height: 1.385;
  border-radius: 4px;
  }
.select2-container.select-sm > .select2-choice .filter-option {
  right: 33px;
  left: 13px;
  }
.select2-container.select-sm > .select2-choice .select2-arrow {
  right: 13px;
  }
  .select2-choices {
  position: relative;
  min-height: 26px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: text;
  }
.select2-choices li {
  float: left;
  list-style: none;
  }
.select2-search-choice {
  position: relative;
  display: inline-block;
  height: 27px;
  padding: 6px 21px;
  margin: 0 5px 4px 0;
  overflow: hidden;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: .25s linear;
          transition: .25s linear;
  }
.select2-search-choice:hover {
  padding-right: 28px;
  padding-left: 14px;
  color: #fff;
  }
.select2-search-choice:hover .select2-search-choice-close {
  color: inherit;
          filter: none;
  opacity: 1;

  -webkit-filter: none;
  }
.select2-search-choice .select2-search-choice-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding-right: 10px;
  font-size: 12px;
  color: #fff;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: opacity .25s linear;
          transition: opacity .25s linear;
  }
.select2-search-choice .select2-search-choice-close:after {
  font-family: "Flat-UI-Icons";
  line-height: 27px;
  content: "\e609";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
.select2-search-field input[type="text"] {
  width: auto;
  min-width: 80px;
  max-width: inherit;
  height: 29px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #34495e;
  vertical-align: top;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  }
.select2-search-field:first-child input[type="text"] {
  height: 23px;
  margin: 3px 0 5px;
  }
.select2-container-multi.multiselect-default {
  border-color: #bdc3c7;
  }
.select2-container-multi.multiselect-default .select2-search-choice {
  background-color: #bdc3c7;
  }
.select2-container-multi.multiselect-default .select2-search-choice:hover {
  background-color: #cacfd2;
  }
.select2-container-multi.multiselect-primary {
  border-color: #B7D400;
  }
.select2-container-multi.multiselect-primary .select2-search-choice {
  background-color: #B7D400;
  }
.select2-container-multi.multiselect-primary .select2-search-choice:hover {
  background-color: #9bb301;
  }
.select2-container-multi.multiselect-info {
  border-color: #3498db;
  }
.select2-container-multi.multiselect-info .select2-search-choice {
  background-color: #3498db;
  }
.select2-container-multi.multiselect-info .select2-search-choice:hover {
  background-color: #5dade2;
  }
.select2-container-multi.multiselect-danger {
  border-color: #e74c3c;
  }
.select2-container-multi.multiselect-danger .select2-search-choice {
  background-color: #e74c3c;
  }
.select2-container-multi.multiselect-danger .select2-search-choice:hover {
  background-color: #ec7063;
  }
.select2-container-multi.multiselect-success {
  border-color: #2ecc71;
  }
.select2-container-multi.multiselect-success .select2-search-choice {
  background-color: #2ecc71;
  }
.select2-container-multi.multiselect-success .select2-search-choice:hover {
  background-color: #58d68d;
  }
.select2-container-multi.multiselect-warning {
  border-color: #f1c40f;
  }
.select2-container-multi.multiselect-warning .select2-search-choice {
  background-color: #f1c40f;
  }
.select2-container-multi.multiselect-warning .select2-search-choice:hover {
  background-color: #f4d313;
  }
.select2-container-multi.multiselect-inverse {
  border-color: #34495e;
  }
.select2-container-multi.multiselect-inverse .select2-search-choice {
  background-color: #34495e;
  }
.select2-container-multi.multiselect-inverse .select2-search-choice:hover {
  background-color: #415b76;
  }
.select2-drop {
  position: absolute;
  top: 100%;
  z-index: 9999;
  min-width: 220px;
  margin-top: 9px;
  font-size: 14px;
  visibility: visible;
          filter: none;
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: none;
          transition: none;

  -webkit-filter: none;
  }
.select2-drop.select2-drop-above {
  margin-top: -9px;
  }
.select2-drop.select2-drop-auto-width {
  width: auto;
  }
.select2-drop.show-select-search .select2-search {
  display: block;
  }
.select2-drop.show-select-search .select2-search + .select2-results > li:first-child .select2-result-label {
  border-radius: 0;
  }
.select2-drop .select2-results {
  padding: 0;
  margin: 0;
  list-style: none;
  }
.select2-drop .select2-results > li:first-child > .select2-result-label {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  }
.select2-drop .select2-results > li:last-child > .select2-result-label {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  }
.select2-drop .select2-result-sub {
  padding: 0;
  margin: 0;
  list-style: none;
  }
.select2-drop .select2-result-sub > li:last-child > .select2-result-label {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  }
.select2-drop .select2-no-results {
  padding: 8px 15px;
  }
.select2-drop .select2-result-label {
  padding: 8px 16px;
  line-height: 1.429;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color .25s, color .25s;
          transition: background-color .25s, color .25s;
  }
.select2-drop .select2-result-selectable .select2-result-label {
  color: rgba(52, 73, 94, .85);
  cursor: pointer;
  }
.select2-drop .select2-result-selectable .select2-result-label:focus,
.select2-drop .select2-result-selectable .select2-result-label:hover,
.select2-drop .select2-result-selectable .select2-result-label:active {
  color: inherit;
  background-color: #e1e4e7;
  outline: none;
  }
.select2-drop .select2-disabled {
  color: rgba(52, 73, 94, .95);
  cursor: default;
  filter: alpha(opacity=40);
  opacity: .4;
  }
.select2-drop .select2-disabled:focus,
.select2-drop .select2-disabled:hover,
.select2-drop .select2-disabled:active {
  background: none !important;
  }

.select2-drop .select2-highlighted > .select2-result-label {
  color: #fff;
  background: #F29A00;
  }  
  
.select2-drop .select2-highlighted > .select2-result-label {
  color: #fff;
  background: #F29A00;
  }
    
#volunteer .select2-drop .select2-highlighted > .select2-result-label {
  color: #fff;
  background: #b7d400;
  }
  
  
.select2-drop .select2-result-with-children > .select2-result-label {
  margin-top: 5px;
  font-size: 13px;
  color: rgba(52, 73, 94, .6);
  text-transform: uppercase;
  }
.select2-drop .select2-result-with-children + .select2-result-with-children > .select2-result-label {
  margin-top: 11px;
  }
.select2-results {
  position: relative;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
.select2-search {
  display: none;
  width: 100%;
  padding: 8px 6px;
  }
.select2-search input[type="text"] {
  width: 100%;
  height: auto !important;
  }
.select-inverse-dropdown {
  color: rgba(255, 255, 255, .75);
  background-color: #34495e;
  }
.select-inverse-dropdown .select2-results .select2-result-label {
  color: #fff;
  }
.select-inverse-dropdown .select2-results .select2-result-label:focus,
.select-inverse-dropdown .select2-results .select2-result-label:hover,
.select-inverse-dropdown .select2-results .select2-result-label:active {
  background: #2c3e50;
  }
.select-inverse-dropdown .select2-results.select2-disabled .select2-result-label:hover {
  color: #fff;
  }
.select-inverse-dropdown .select2-result-with-children > .select2-result-label {
  color: rgba(255, 255, 255, .6);
  }
.select-inverse-dropdown .select2-result-with-children > .select2-result-label:hover {
  color: #fff;
  background: none !important;
  }
.select2-drop-multi {
  border-radius: 6px;
  }
.select2-drop-multi .select2-results {
  padding: 2px 0;
  }
.select2-drop-multi .select2-result {
  padding: 2px 4px;
  }
.select2-drop-multi .select2-result-label {
  border-radius: 4px;
  }
.select2-drop-multi .select2-selected {
  display: none;
  }
.select2-offscreen,
.select2-offscreen:focus {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  outline: 0 !important;
  }
.select2-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  }
.select2-offscreen,
.select2-offscreen:focus {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  outline: 0 !important;
  }
.select2-display-none {
  display: none;
  }
.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
  }
.select2-drop-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
  border: 0;
  opacity: 0;
  }
  .select-primary .select2-choice {
    background-color: #efefef;
    color: #999;
    opacity: 1;
}  
.eventFilter .select-primary .select2-choice {
    background-color: #efefef;
    color: #fff !important;
    opacity: 1;
}